In [1]:
0.01+0.03-0.04

0.0

In [2]:
0.1+0.2-0.3

5.551115123125783e-17

In [3]:
1/2

0.5

In [4]:
a = 5

In [5]:
a

5

In [6]:
a + a

10

In [7]:
a

5

In [8]:
a = a + a

In [9]:
a

10

In [10]:
type(a)

int

In [88]:
#type(b)

In [12]:
b = 7.8

In [13]:
type(b)

float

In [14]:
int = 4

In [15]:
int

4

In [16]:
my_income = 100
tax_rate = 0.1
my_tax = my_income * tax_rate

In [17]:
my_tax

10.0

STRINGS

'hello'

In [18]:
'hello'

'hello'

In [19]:
"world"

'world'

In [20]:
'this is a string ""'

'this is a string ""'

In [21]:
print("Hello")

Hello

In [22]:
"hello world one"

'hello world one'

In [23]:
"hello world one"
"hello world two"

'hello world two'

In [24]:
print("hello /n world")

hello /n world

In [25]:
print("hello \n world")

hello
 world

In [26]:
print("hello \nworld")

hello
world

In [27]:
len('hello')

5

In [28]:
mystring = "hello world"

In [29]:
mystring

'hello world'

In [30]:
mystring[0]

'h'

In [31]:
mystring[8]

'r'

In [32]:
mystring[-2]

'l'

In [33]:
mystring = "abcdefijk"

In [34]:
mystring

'abcdefijk'

In [35]:
mystring[2]

'c'

In [36]:
mystring[2:]

'cdefijk'

In [37]:
mystring[:3]

'abc'

In [38]:
mystring[3:6]

'def'

In [39]:
mystring[:2:]

'ab'

In [40]:
mystring[::2]

'aceik'

In [41]:
mystring[2:7:2]

'cei'

In [42]:
mystring[::-1]

'kjifedcba'

IMMUTABILITY

In [43]:
name = "Sam"

In [46]:
#name[0] = 'p'  cannot be done(item assignment not available)

In [47]:
last_letters = name[1:]

In [48]:
last_letters

'am'

In [49]:
'P'+last_letters

'Pam'

In [50]:
x = "Hello world"

In [51]:
x = x + "it's beautiful outside"

In [52]:
x

"Hello worldit's beautiful outside"

In [53]:
letter = 'z'

In [54]:
letter*10

'zzzzzzzzzz'

In [55]:
x = "Hello World"

In [56]:
x.upper

In [57]:
x.upper()

'HELLO WORLD'

In [59]:
#upper

In [60]:
x.split()

['Hello', 'World']

In [61]:
x.split('l')

['He', '', 'o Wor', 'd']

STRING INTERPOLATION

.FORMAT

In [62]:
print('This is a string {}'.format("INSERTED"))

This is a string INSERTED

In [64]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [65]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [66]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

FLOAT FORMATTING

In [67]:
result = 100/177

In [68]:
result

0.5649717514124294

In [69]:
print('The result was {r}'.format(r = result))

The result was 0.5649717514124294

In [70]:
print('The result was {r:1.3f}'.format(r = result))

The result was 0.565

In [71]:
print('The result was {r:10.3f}'.format(r = result))

The result was      0.565

In [72]:
name = 'Jose'

In [73]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [76]:
#print(f'Hello, his name is {name}')

works only in Python 3.6

LISTS

In [77]:
mylist = [1,2,3]

In [78]:
mylist

[1, 2, 3]

In [80]:
mylist = ['string', 100, 23.2]

In [81]:
len(mylist)

3

In [82]:
mylist[0]

'string'

In [83]:
mylist[1:]

[100, 23.2]

In [85]:
mylist[:3]

['string', 100, 23.2]

In [86]:
anotherlist = [12, 13, 14]

In [87]:
mylist + anotherlist

['string', 100, 23.2, 12, 13, 14]

In [89]:
s = 'alpha'

In [90]:
s.split()

['alpha']

In [91]:
s

'alpha'

In [92]:
s[0::1]

'alpha'

In [93]:
newlist = mylist + anotherlist

In [94]:
newlist

['string', 100, 23.2, 12, 13, 14]

In [95]:
newlist[0] = 'list'

In [96]:
newlist

['list', 100, 23.2, 12, 13, 14]

In [97]:
 newlist = ['one', 'two','three','four','five','six']

In [98]:
popped = newlist.pop()

In [99]:
popped

'six'

In [101]:
newlist

['one', 'two', 'three', 'four', 'five']

In [102]:
newlist.pop(2)

'three'

In [103]:
newlist

['one', 'two', 'four', 'five']

In [106]:
char_list = ['a', 'c','x','f','e']

In [107]:
num_list = [1,2,3,4,5,6]

In [108]:
char_list.sort()

In [109]:
char_list

['a', 'c', 'e', 'f', 'x']

In [113]:
my_sorted_list = char_list.sort() #returns None Type

In [112]:
type(my_sorted_list)

NoneType

In [114]:
num_list.sort()

In [115]:
num_list

[1, 2, 3, 4, 5, 6]

In [116]:
num_list.reverse()

In [117]:
num_list

[6, 5, 4, 3, 2, 1]

DICTIONARIES

In [118]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [119]:
my_dict['key1']

'value1'

In [120]:
prices_lookup = {'apples':2.99,'oranges':1.99,'milk':5.80}

In [122]:
prices_lookup['apples']

2.99

In [123]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'inside_key':100}}

In [124]:
d['k2']

[0, 1, 2]

In [125]:
d['k2'][2]

2

In [126]:
d['k3']['inside_key']

100

In [127]:
d['k3'] = 300

In [128]:
d['k3']

300

In [129]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': 300}

In [130]:
d.keys

In [131]:
d.keys()

dict_keys(['k3', 'k1', 'k2'])

In [133]:
d.values()

dict_values([300, 123, [0, 1, 2]])

In [134]:
d.items()

dict_items([('k3', 300), ('k1', 123), ('k2', [0, 1, 2])])

TUPLES

In [135]:
t = (1,2,3)

In [136]:
type(t)

tuple

In [137]:
mylist = [1,2,3]

In [138]:
type(mylist)

list

In [139]:
len(t)

3

In [140]:
t = ('one', 2)

In [141]:
t

('one', 2)

In [142]:
t[0]

'one'

In [143]:
t[-1]

2

In [144]:
t = ('a','a','b')

In [145]:
t.count('a')

2

In [146]:
t.index('a')

0

 SETS

In [147]:
myset = set()

In [148]:
myset

set()

In [149]:
myset.add(1)

In [150]:
myset

{1}

In [151]:
myset.add(2)

In [152]:
myset

{1, 2}

In [153]:
myset.add(2)

In [154]:
myset

{1, 2}

In [155]:
mylist = [1,1,1,1,2,2,2,3]

In [156]:
set(mylist)

{1, 2, 3}

BOOLEANS

True and False

In [157]:
type(False)

bool

In [158]:
1>2

False

In [159]:
1 == 1

True

In [160]:
 b = None

In [161]:
b

I/O files

In [162]:
%%writefile myfile.txt
Hello this is a text file

Writing myfile.txt

In [163]:
myfile = open('myfile.txt')

In [164]:
myfile.close()

In [165]:
pwd

'C:\\Users\\dominoUzu\\Documents\\Udemy\\Python\\S3'

In [166]:
myfile = open('myfile.txt')

In [167]:
myfile.read()

'Hello this is a text file\nThis is a second line\nThis is the third line\nThis is the fourth liness'

In [168]:
myfile.read()

''

In [169]:
myfile.seek(0)

0

In [170]:
myfile.read()

'Hello this is a text file\nThis is a second line\nThis is the third line\nThis is the fourth liness'

In [171]:
myfile.seek(0)

0

In [172]:
content = myfile.read()

In [173]:
content

'Hello this is a text file\nThis is a second line\nThis is the third line\nThis is the fourth liness'

In [174]:
myfile.seek(0)

0

In [175]:
myfile.readlines()

['Hello this is a text file\n',
 'This is a second line\n',
 'This is the third line\n',
 'This is the fourth liness']

For windows

myfile = open('c:\\Users\\UserName\\myfile.txt')

In [176]:
myfile.close()

If we dont want to worry about opening and closing of files we need to use " with open('myfile.txt') as my_new_file:

In [178]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.readlines()

In [179]:
contents

['Hello this is a text file\n',
 'This is a second line\n',
 'This is the third line\n',
 'This is the fourth liness']

In [183]:
 with open('myfile.txt', mode='r') as myfile:
        contents = myfile.read()

In [181]:
contents

'Hello this is a text file\nThis is a second line\nThis is the third line\nThis is the fourth liness'

In [184]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [187]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [189]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [190]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [191]:
with open('file_not_found.txt', mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [193]:
with open('file_not_found.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

COMPARISON

In [194]:
2.0 == 2

True

In [195]:
2 != 3

True

In [196]:
4 != 0

True

In [197]:
1 > 2

False

In [198]:
1 < 3

True

In [199]:
90 > 5

True

In [200]:
2 >= 5

False

In [201]:
2 >= 2

True

In [202]:
1 < 2 < 3

True

In [203]:
1 < 3 > 3

False

In [204]:
1 < 2 and 2 > 3

False

In [205]:
1 < 2 or 2 > 4

True

In [206]:
'h' == 'h' and 2 == 2

True

In [207]:
1 == 0 or print('h')

h

In [208]:
1 == 1 or print('h')

True

In [209]:
not 1 == 2

True

IF ELIF AND ELSE STATEMENTS

In [210]:
if True:
    print('Its true')

Its true

In [211]:
hungry = True
if hungry:
    print('Feed Me!')

Feed Me!

In [213]:
hungry = False
if hungry:
    print('Feed Me!')
else:
    print('I am not Hungry!!')

I am not Hungry!!

In [214]:
loc = 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Welcome to money')
elif loc == 'Store':
    print('welcome to the store')
else:
    print("I dont know where I am")

Welcome to money

FOR LOOPS

In [215]:
my_iter = [1,2,3]
for item in my_iter:
    print(item)

1
2
3

In [216]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [217]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [218]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [220]:
for num in mylist:
    if num%2 == 0:
        print(num)
    else:
        print('Odd number : {odd}'.format(odd=num))

Odd number : 1
2
Odd number : 3
4
Odd number : 5
6
Odd number : 7
8
Odd number : 9
10

In [221]:
list_sum = 0
for num in mylist:
    list_sum += num

print(list_sum)

55

In [222]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [223]:
for _ in 'Hello World':
    print('cool')

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [224]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [225]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [226]:
len(mylist)

4

In [227]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [228]:
#TUPLE UNPACKING
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [229]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [230]:
mylist

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [231]:
len(mylist)

3

In [232]:
for a,b,c in mylist:
    print(b)

2
5
8

In [234]:
for a,b,c in mylist:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [235]:
d = {'k1':1,'k2':2,'k3':3}

In [236]:
for item in d:
    print(item)

k3
k1
k2

In [237]:
for item in d.items():
    print(item)

('k3', 3)
('k1', 1)
('k2', 2)

In [238]:
for item in d.keys():
    print(item)

k3
k1
k2

In [239]:
for key,value in d.items():
    print(value)

3
1
2

WHILE LOOPS

In [242]:
x = 0
while x < 5:
    print('the current value of x is {r}'.format(r=x))
    x = x + 1
else:
    print('x is not greater than 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not greater than 5

BREAK --> breaks out of the current closest enclosing loop

CONTINUE --> goes to the top the current closest enclosing loop

PASS --> does nothing at all

In [243]:
x = [1,2,3]
for item in x:
    pass
print('end of the script')

end of the script

In [244]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [245]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

USEFUL OPERATORS:

In [248]:
#range
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [249]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [250]:
list(range(3,10,2))

[3, 5, 7, 9]

In [251]:
#range is a generator

In [252]:
#enumerate
index_count = 0

for letter in 'abcde':
    print('at index {} the letter {}'.format(index_count,letter))
    index_count += 1

at index 0 the letter a
at index 1 the letter b
at index 2 the letter c
at index 3 the letter d
at index 4 the letter e

In [253]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [254]:
index_count = 0
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [255]:
#counting the index using enumerate-- takes iterable object 
# and gives a tuple of index position and the iterable objects

In [256]:
#zip
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
zip(mylist1, mylist2)

In [257]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [258]:
# in operator
2 in [1,2,3]

True

In [259]:
'x' in ['x','y','z']

True

In [260]:
'a' in 'a world'

True

In [261]:
'mykey' in {'mykey':354}

True

In [262]:
mylist = [10,20,30,40,50]

In [263]:
min(mylist)

10

In [264]:
max(mylist)

50

In [265]:
#rand library
from random import shuffle

In [266]:
shuffle(mylist)

In [267]:
mylist

[30, 10, 50, 40, 20]

In [268]:
shuffle(mylist)

In [269]:
mylist

[10, 30, 40, 50, 20]

In [270]:
from random import randint

In [271]:
randint(0,100)

90

In [272]:
randint(0,100)

2

In [274]:
result = input('Enter a number here:')

Enter a number here:50

In [275]:
result

'50'

In [278]:
result = input('Enter a number here:')

Enter a number here:70

In [281]:
result

'70'

In [282]:
type(result)

str

In [283]:
float(result)

70.0

In [284]:
int(result)

TypeError: 'int' object is not callable

LIST_COMPREHENSION

In [285]:
#replace .append() function in the list
mystring = 'hello'

mylist = []
for letter in mystring:
    mylist.append(letter)

In [286]:
mylist

['h', 'e', 'l', 'l', 'o']

In [287]:
#same computation time.. only less code
mylist = [letter for letter in mystring]
#same as above

In [288]:
mylist

['h', 'e', 'l', 'l', 'o']

In [289]:
mylist = [x for x in 'word']

In [290]:
mylist

['w', 'o', 'r', 'd']

In [291]:
mylist = [x for x in range(0,10)]

In [292]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [293]:
mylist = [x**2 for x in range(0,10)]

In [295]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [298]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [299]:
mylist

[0, 4, 16, 36, 64, 100]

In [300]:
celsius = [0,10,20,34.5]

In [301]:
f = [ ((9/5)*temp + 32) for temp in celsius]

In [302]:
f

[32.0, 50.0, 68.0, 94.1]

In [303]:
result = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [304]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [305]:
#nested loop 
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [306]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [307]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [308]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]